
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    versin1
    <div>
        <font color="red">VERSIN 2</font>
    </div>
</body>
</html>
