
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Views/Home/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    versin1
    <div>
        <font color="red">VERSIN 2</font>
    </div>
    <div>
        <font color="blue">VERSIN 3</font>
    </div>
    <div>
        <font color="blue">VERSIN 4</font>
    </div>
</body>
</html>
